# Virtual Environment
venv/
.venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Sensitive Data / Service Account Keys
*adminsdk*.json
*firebase-adminsdk*.json

# OS files
.DS_Store
Thumbs.db
